#city {
  font-weight: 900;
  font-size: 25px;
  padding: 30px 0 0 0;
  display: inline-block;
}

#temperature,
#celsius,
#temp-divider{
  display: inline;
  vertical-align: middle;
}

#temperature {
  font-size: 60px;
  font-weight: 800;
  margin-right: 5px;
}

#celsius {
  margin-right: 10px;
}

#celsius,
#temp-divider
{
  font-size: 30px;
  font-weight: 800;
}

#celsius:hover {
  cursor: pointer;
}
