<div class="card bg-warning m-2" style="width: 100%; height: 50%">
  <div class="card-body">
    <div class="row">
      <div class="col">
        <img class="weather-icon" src="{{link}}">
      </div>
      <div class="col">
        <h1 class="city" id="city">{{weatherForecast.cityName}}, {{weatherForecast.country}}</h1>
      </div>
      <div class="col">
        <h1 id="temperature">{{weatherForecast.temperature}}</h1>
        <h2 id="celsius">&#176;C</h2>
      </div>
    </div>
  </div>
</div>
