<div class="card bg-warning" style="width: 100%; height: 100%">
  <div class="card-body">
    <h5 class="card-title">Search by City</h5>
    <div class="card-body">
<!--      <div class="input-group input-group-lg">-->
<!--        <input type="text" class="form-control" (keydown.enter)="$event.preventDefault()" #search placeholder="Type city here" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">-->
<!--      </div>-->
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Type city here" aria-label="Recipient's username" aria-describedby="intputSearch">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary fa fa-search" type="button" id="search"></button>
        </div>
      </div>
    </div>
  </div>
</div>
